 .all-icons.flex{
    gap: 1rem;
    font-size: 1.3rem;
    /* min-height: 50px; */
    /* background-color: aliceblue; */
}

 .all-icons.flex a:nth-child(2) .icon:hover{
    color: #c73a70;
}
 .all-icons.flex a:nth-child(3) .icon:hover{
    color: #000;
}
 .all-icons.flex a:nth-child(4) .icon:hover{
    color: #0073af;
}
 .all-icons.flex a:nth-child(5) .icon:hover{
    color: #75b47a;
}
 .all-icons.flex a:nth-child(6) .icon:hover{
    color: #f05656;
}
 .all-icons.flex a{
    color: var(--subtitle);
}
 .all-icons .icon{
    transition: transform 0.3s linear;
}
 .all-icons .icon:hover{
    transform: scale(1.2);
    color: var(--icon-hover);
    cursor: pointer;
}

@media (max-width:700px) {
    .all-icons.flex{
        gap: 0.6rem !important;
        font-size: 1rem !important;
        /* min-height: 50px; */
        /* background-color: aliceblue; */
    }
}